{% extends 'partials/base.html' %}
{% load static %}
{% block title %}
<h4>Homepage</h4>
{% endblock %}
{% block content %}
<h1>Welcome to Topps Trades:</h1>

<h2 style="color: rgb(187, 0, 0); margin-top: 30px;"> <b> Cards For Sale:</b> </h2>


<div class="card-columns" style="padding: 20px;">

    {% for sale in sales %}
   
    <div class="card">
     
      <div class="card-body">
        <h5 class="card-title"><b>{{sale.card.name}}</b> <img src="{% static 'css/mlblogo.jpg' %}" style="width: 50px; margin: 3px;"></h5> 
        
        <ul style="list-style-type: none;" class="infolist card-text">
            <li>Position: {{sale.card.position}}</li>
            <li>Team: {{sale.card.team.name}}</li>
            <li>Jersey #: {{sale.card.jersey_number}}</li>
            <li>Height: {{sale.card.height_ft}}ft, {{sale.card.height_in}}in</li>
            <li>Weight: {{sale.card.weight}}</li>
            <li>Bats: {{sale.card.bats}}</li>
            <li>Throws: {{sale.card.throws}}</li>
            <li>Birth Day: {{sale.card.birth_date}}</li>
            <li>Player ID: {{sale.card.player_id}}</li>
        </ul>
      
      </div>
      <div class="card-footer">
        <small class="text-muted footer-buttons">
        {% if user.is_authenticated %}
            {% if sale.profile.id != user.profile.id %}
            <button type="submit" class="btn btn-danger"><a style="color: white;" href="{% url 'bid' sale_id=sale.id %}">Bid</a> </button>
            {% endif %}
        {% endif %}
        {% if sale.profile.user != request.user %}
        <div style="padding: 3px">
           Seller: <b>{{sale.profile.user.username}}</b>
        </div>
        {% elif sale.profile.user == request.user %}
            Seller: <b>Me</b> 
        {% endif %}
        </small>
      </div>
    </div>
    {% endfor %}
</div>

 
{% endblock %}