{% extends 'partials/base.html' %}
{% load bootstrap %}
{% block content %}

<div style="display: flex; justify-content: space-between;">
<h1>Welcome to Topps Forum</h1>
<a href="{% url 'add_thread' %}"> <button class="btn btn-primary" style="background-color: navy;box-shadow: 5px 5px 5px lightgrey;"> Start a thread</button></a>
</div>

<h4>"-Join the conversation!"</h4>
<h3 style="margin-top: 50px;"> <b>Threads:</b></h3>

<ul class="list-group col-md-8" style="box-shadow: 5px 5px 5px lightgrey; padding: 0%;">

    {% for thread in threads %}
    <li class="list-group-item"><a href="{% url 'thread' thread_id=thread.id %}">{{thread.title}}</a> <h6><b>Started by: </b>{{thread.profile.user.username}} <b>On: </b>{{thread.date_created}}</h6>
        {% if request.user == thread.profile.user %}
            <a href="{% url 'delete_thread' thread_id=thread.id %}"> <button class="btn-sm btn-danger"> Delete Thread </button></a>
        {% endif %}
    </li>
    {% endfor %}
    
</ul>

{% endblock%}